.ozz-wyg {
  all: unset;
  font-family: sans-serif;
}
.ozz-wyg__toolbar {
  position: sticky;
  top: 0;
  padding: 3px;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-radius: 5px 5px 0 0;
  background: #F7F9FA;
  z-index: 110;
}
.ozz-wyg__tool {
  display: inline-block;
  position: relative;
}
.ozz-wyg__tool-has-child {
  display: flex;
  flex-direction: row;
}
.ozz-wyg__tool-has-child > button {
  margin-right: 6px;
}
.ozz-wyg__tool-has-child:after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 6px;
}
.ozz-wyg__tool > button {
  margin-right: 6px;
}
.ozz-wyg__tool button {
  border: 1px solid transparent;
  padding: 6px;
  height: 32px;
  background-color: #F7F9FA;
  border-radius: 3px;
}
.ozz-wyg__tool button:not(.ozz-wyg-regular-btn) {
  width: 32px;
}
.ozz-wyg__tool button:hover {
  border: 1px solid #ddd;
  background-color: #eee;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button:not(.ozz-wyg-regular-btn) {
  font-size: 0;
  line-height: 1.7rem;
  background-image: url(".//tools.svg");
  background-repeat: no-repeat;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=bold] {
  background-position: 3px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=italic] {
  background-position: -34px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=underline] {
  background-position: -70px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=strikethrough] {
  background-position: -106px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=subscript] {
  background-position: -142px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=superscript] {
  background-position: -178px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=link] {
  background-position: -214px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=table] {
  background-position: -285px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=insertOrderedList] {
  background-position: -322px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=insertUnorderedList] {
  background-position: -357px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=justifyLeft] {
  background-position: -393px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=justifyRight] {
  background-position: -431px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=justifyCenter] {
  background-position: -466px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=justifyFull] {
  background-position: -502px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=media] {
  background-position: -610px 3px;
}
.ozz-wyg__tool:not(.ozz-wyg__tool--headings) button[data-action=codeView] {
  background-position: -645px 3px;
}
.ozz-wyg__tool-child {
  display: none;
  position: absolute;
  padding: 3px;
  margin-top: 4px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transform: translateX(-4px);
  background-color: #F7F9FA;
}
.ozz-wyg__tool-child button {
  margin: 0;
}
.ozz-wyg__tool .more-tools-trigger {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-left: none;
  display: none;
}
.ozz-wyg__tool:hover .ozz-wyg__tool-child {
  display: block;
}
.ozz-wyg__tool .ozz-wyg__tool-link-setting,
.ozz-wyg__tool .ozz-wyg__tool-table-setting,
.ozz-wyg__tool .ozz-wyg__tool-media-setting {
  display: none;
  position: absolute;
  background: #F7F9FA;
  padding: 12px;
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.ozz-wyg__tool .ozz-wyg__tool-link-setting label,
.ozz-wyg__tool .ozz-wyg__tool-table-setting label,
.ozz-wyg__tool .ozz-wyg__tool-media-setting label {
  font-size: 13px;
  font-weight: 600;
}
.ozz-wyg__tool .ozz-wyg__tool-link-setting input,
.ozz-wyg__tool .ozz-wyg__tool-table-setting input,
.ozz-wyg__tool .ozz-wyg__tool-media-setting input {
  margin: 5px 0;
  padding: 5px;
  width: 200px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 3px;
}
.ozz-wyg__tool .ozz-wyg__tool-link-setting button,
.ozz-wyg__tool .ozz-wyg__tool-table-setting button,
.ozz-wyg__tool .ozz-wyg__tool-media-setting button {
  background: #232327;
  color: #F7F9FA;
  padding: 5px 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.ozz-wyg__tool .ozz-wyg__tool-link-setting button:hover,
.ozz-wyg__tool .ozz-wyg__tool-table-setting button:hover,
.ozz-wyg__tool .ozz-wyg__tool-media-setting button:hover {
  background: #424247;
}
.ozz-wyg__tool .ozz-wyg__tool-link-setting.active,
.ozz-wyg__tool .ozz-wyg__tool-table-setting.active,
.ozz-wyg__tool .ozz-wyg__tool-media-setting.active {
  display: block;
}
.ozz-wyg__tool .ozz-wyg__tool-table-setting {
  align-items: center;
  gap: 6px;
  padding-bottom: 60px;
}
.ozz-wyg__tool .ozz-wyg__tool-table-setting.active {
  display: flex;
}
.ozz-wyg__tool .ozz-wyg__tool-table-setting .sub-options {
  position: absolute;
  bottom: 5px;
  left: 0;
  gap: 3px;
  align-items: center;
  margin-left: 10px;
}
.ozz-wyg__tool .ozz-wyg__tool-table-setting .sub-options span {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}
.ozz-wyg__tool .ozz-wyg__tool-table-setting input {
  width: 45px;
  padding: 8px 5px;
  display: inline-block;
}
.ozz-wyg__tool .ozz-wyg__tool-table-setting input[type=checkbox], .ozz-wyg__tool .ozz-wyg__tool-table-setting input[type=radio] {
  width: 18px;
  height: 18px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-headings-trigger > button {
  width: 120px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child {
  width: 112px;
  padding: 5px 3px 3px;
  transform: none;
  overflow-y: auto;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button {
  display: block;
  width: 100%;
  height: auto;
  padding: 3px 8px;
  background: transparent;
  border: none;
  text-align: left;
  font-weight: 500;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button:hover {
  background: #eee;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-value=h1] {
  font-size: 18px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-value=h2] {
  font-size: 17px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-value=h3] {
  font-size: 16px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-value=h4] {
  font-size: 15px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-value=h5] {
  font-size: 14px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-value=h6] {
  font-size: 12px;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-action=quote] {
  border-left: 4px solid #eec927;
  border-radius: 0;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-action=code] {
  font-family: monospace;
}
.ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-action=code], .ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-action=quote], .ozz-wyg__tool--headings .ozz-wyg__tool-child button[data-value=P] {
  font-weight: 400;
  font-size: 14px;
  padding: 5px 8px;
}
.ozz-wyg__editor-area {
  min-height: 150px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  outline: none;
  background-color: #fff;
  margin: 0;
}
.ozz-wyg__editor-area.ozz-wyg-html-view {
  font-family: monospace;
  background: #232327;
  color: #ddd;
  font-size: 14px;
  line-height: 1.75rem;
}
.ozz-wyg__editor-area h1 {
  margin: 20px 0 10px;
}
.ozz-wyg__editor-area blockquote,
.ozz-wyg__editor-area p {
  font-size: 14px;
  line-height: 1.6rem;
}
.ozz-wyg__editor-area blockquote {
  margin: 5px 5px 5px 0;
  padding: 5px 5px 5px 20px;
  border-left: 4px solid #000;
  background: #F7F9FA;
}
.ozz-wyg__editor-area blockquote > p {
  margin-top: 0;
}
.ozz-wyg__editor-area .media-wrapper,
.ozz-wyg__editor-area img {
  display: block;
  max-width: 100%;
  margin: 5px;
}
.ozz-wyg__editor-area .media-wrapper.align-left,
.ozz-wyg__editor-area img.align-left {
  margin-right: auto;
}
.ozz-wyg__editor-area .media-wrapper.align-center,
.ozz-wyg__editor-area img.align-center {
  margin: 5px auto;
}
.ozz-wyg__editor-area .media-wrapper.align-right,
.ozz-wyg__editor-area img.align-right {
  margin-left: auto;
}
.ozz-wyg__editor-area .media-wrapper.inline,
.ozz-wyg__editor-area img.inline {
  display: inline-block;
  vertical-align: bottom;
}
.ozz-wyg__editor-area .media-wrapper.w-5,
.ozz-wyg__editor-area img.w-5 {
  width: 5%;
}
.ozz-wyg__editor-area .media-wrapper.w-10,
.ozz-wyg__editor-area img.w-10 {
  width: 10%;
}
.ozz-wyg__editor-area .media-wrapper.w-15,
.ozz-wyg__editor-area img.w-15 {
  width: 15%;
}
.ozz-wyg__editor-area .media-wrapper.w-20,
.ozz-wyg__editor-area img.w-20 {
  width: 20%;
}
.ozz-wyg__editor-area .media-wrapper.w-25,
.ozz-wyg__editor-area img.w-25 {
  width: 25%;
}
.ozz-wyg__editor-area .media-wrapper.w-30,
.ozz-wyg__editor-area img.w-30 {
  width: 30%;
}
.ozz-wyg__editor-area .media-wrapper.w-35,
.ozz-wyg__editor-area img.w-35 {
  width: 35%;
}
.ozz-wyg__editor-area .media-wrapper.w-40,
.ozz-wyg__editor-area img.w-40 {
  width: 40%;
}
.ozz-wyg__editor-area .media-wrapper.w-45,
.ozz-wyg__editor-area img.w-45 {
  width: 45%;
}
.ozz-wyg__editor-area .media-wrapper.w-50,
.ozz-wyg__editor-area img.w-50 {
  width: 50%;
}
.ozz-wyg__editor-area .media-wrapper.w-55,
.ozz-wyg__editor-area img.w-55 {
  width: 55%;
}
.ozz-wyg__editor-area .media-wrapper.w-60,
.ozz-wyg__editor-area img.w-60 {
  width: 60%;
}
.ozz-wyg__editor-area .media-wrapper.w-65,
.ozz-wyg__editor-area img.w-65 {
  width: 65%;
}
.ozz-wyg__editor-area .media-wrapper.w-70,
.ozz-wyg__editor-area img.w-70 {
  width: 70%;
}
.ozz-wyg__editor-area .media-wrapper.w-75,
.ozz-wyg__editor-area img.w-75 {
  width: 75%;
}
.ozz-wyg__editor-area .media-wrapper.w-80,
.ozz-wyg__editor-area img.w-80 {
  width: 80%;
}
.ozz-wyg__editor-area .media-wrapper.w-85,
.ozz-wyg__editor-area img.w-85 {
  width: 85%;
}
.ozz-wyg__editor-area .media-wrapper.w-90,
.ozz-wyg__editor-area img.w-90 {
  width: 90%;
}
.ozz-wyg__editor-area .media-wrapper.w-95,
.ozz-wyg__editor-area img.w-95 {
  width: 95%;
}
.ozz-wyg__editor-area .media-wrapper.w-100,
.ozz-wyg__editor-area img.w-100 {
  width: 100%;
}
.ozz-wyg__editor-area .media-wrapper {
  position: relative;
  min-width: 260px;
  width: -moz-max-content;
  width: max-content;
  margin-top: 35px !important;
}
.ozz-wyg__editor-area .media-wrapper:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: calc(100% - 2px);
  height: 25px;
  background: #ddd;
  border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
}
.ozz-wyg__editor-area .media-wrapper .height-holder {
  padding-top: 56.25%;
  display: block;
}
.ozz-wyg__editor-area .media-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ozz-wyg__editor-area .media-wrapper video {
  width: 100%;
}
.ozz-wyg__editor-area code {
  font-family: monospace;
  padding: 5px;
  background: #eee;
  line-height: 1.75rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.ozz-wyg__editor-area table {
  width: 100%;
  border-collapse: collapse;
}
.ozz-wyg__editor-area table thead th,
.ozz-wyg__editor-area table thead td,
.ozz-wyg__editor-area table tfoot th,
.ozz-wyg__editor-area table tfoot td {
  background: #eee;
}
.ozz-wyg__editor-area table tr {
  padding: 0;
}
.ozz-wyg__editor-area table th,
.ozz-wyg__editor-area table td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  min-width: 30px;
  background: #F7F9FA;
  font-size: 14px;
}
.ozz-wyg__editor-area .ozz-wyg-popover {
  position: absolute;
  padding: 6px 65px 6px 6px;
  max-width: 400px;
  margin-top: 10px;
  margin-left: -30px;
  border-radius: 5px;
  background: #F7F9FA;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.01);
}
.ozz-wyg__editor-area .ozz-wyg-popover a {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  z-index: 100;
}
.ozz-wyg__editor-area .ozz-wyg-popover .ozz-wyg-editlink,
.ozz-wyg__editor-area .ozz-wyg-popover .ozz-wyg-unlink {
  position: absolute;
  border-radius: 3px;
  width: 27px;
  height: 27px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 0;
  line-height: 1.7rem;
  background-image: url(".//tools.svg");
  background-repeat: no-repeat;
}
.ozz-wyg__editor-area .ozz-wyg-popover .ozz-wyg-editlink {
  right: 32px;
  top: 2px;
  background-position: -684px 0px;
}
.ozz-wyg__editor-area .ozz-wyg-popover .ozz-wyg-unlink {
  right: 2px;
  top: 2px;
  background-position: -251px 0px;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper {
  position: relative;
  width: calc(100% - 30px);
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row, .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column {
  position: absolute;
  display: flex;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row button, .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column button {
  width: 24px;
  height: 24px;
  padding: 6px;
  line-height: 0.5rem;
  border: 1px solid #ccc;
  background-color: #eee;
  cursor: pointer;
  font-size: 0;
  line-height: 1.7rem;
  background-image: url(".//tools.svg");
  background-repeat: no-repeat;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row button:hover, .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column button:hover {
  background-color: #ddd;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row button[data-tbl-action=addrow], .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row button[data-tbl-action=addcol], .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column button[data-tbl-action=addrow], .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column button[data-tbl-action=addcol] {
  background-position: -721px 0px;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row button[data-tbl-action=deleterow], .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row button[data-tbl-action=deletecol], .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column button[data-tbl-action=deleterow], .ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column button[data-tbl-action=deletecol] {
  background-position: -757px 0px;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row {
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__row button {
  border-radius: 0 0 3px 3px;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column {
  top: 50%;
  right: -23px;
  transform: translateY(-50%);
  flex-direction: column;
}
.ozz-wyg__editor-area .ozz-wyg-table-wrapper .ozz-wyg-table-actions__column button {
  border-radius: 0 3px 3px 0;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions {
  position: fixed;
  max-height: 200px;
  overflow-y: auto;
  background-color: #eee;
  padding: 3px;
  border-radius: 5px;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions button {
  font-size: 0;
  line-height: 1.7rem;
  background-image: url(".//tools.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  border: 1px solid #ddd;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions button[data-media-action=align-left] {
  background-position: -791px 0;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions button[data-media-action=align-center] {
  background-position: -467px 0;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions button[data-media-action=align-right] {
  background-position: -432px 0;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions button[data-media-action=delete] {
  background-position: -827px 1px;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions button[data-media-action=inline] {
  background-position: -575px 1px;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions select {
  height: 27px;
  width: 60px;
  padding: 3px;
  border: 1px solid #ddd;
}
.ozz-wyg__editor-area .ozz-wyg-media-actions button,
.ozz-wyg__editor-area .ozz-wyg-media-actions select {
  margin: 0 !important;
  line-height: 0 !important;
  border-radius: 3px;
  vertical-align: middle;
}/*# sourceMappingURL=OzzWyg.css.map */